/**
 * =====================================
 * Erro CSs
 * =====================================
 * main css for error page
 * =====================================
 */
@media screen {
  .error-page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:#2c3e50;
    .container {
      height: 100%;
      .row {
        height: 100%;
        h1 {
          color:#0fb0c0;
          font-weight:bold;
          font-size:450px;
          text-shadow: 0px 6px 4px #0f2438;
          margin-bottom:0;
          line-height:100%;
        }
        h2 {
          margin-top:-15px;
          margin-bottom:20px;
          color:$white;
          text-transform:uppercase;
          font-size:40px;
          letter-spacing:3px;
        }
        .btn {
          display: inline-block;
          background-color: #1d2935;
          border: 2px solid #1d2935;
          font-size: 20px;
          padding: 15px 25px;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: #0fb0c0;
          @include transition(.3s);
          &:hover {
            @include transition(.3s);
            background-color:#121921;
            border: 2px solid #121921;
          }
        }
      }
    }
  }
  [ui-pnotify].ui-pnotify.custom .ui-pnotify-container {
    background-color: #404040;
    background-image: none;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
  }
  [ui-pnotify].ui-pnotify.custom {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 1.1;
  }
  [ui-pnotify].ui-pnotify.custom .ui-pnotify-title,
  [ui-pnotify].ui-pnotify.custom .ui-pnotify-text {
    margin-left: 50px;
    color: #FFF;
  }
  [ui-pnotify].ui-pnotify.custom .ui-pnotify-title {
    font-weight: bold;
    font-size: 15px;
  }
  [ui-pnotify].ui-pnotify.custom .ui-pnotify-icon {
    color: #FFA;
  }
}
