select {
  &.form-control:not([size]):not([multiple]){
    height: calc(2.40rem + 2px);
  }
}

.nested-ul-checkbox {
  li {
    input[type="checkbox"] {
      -ms-appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      top:4px;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      margin-right: .5em;
      outline:0;
      cursor:pointer;
      &:after {
        position: absolute;
        content:"\f00c";
        font-size: .8em;
        line-height: 0;
        top: 1px;
        left: 0;
        right: 0;
        margin:auto;
        text-align:center;
        color:#28a745;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        display: none;
      }
      &:checked {
        &:after {
          display: inline-block;
        }
      }
    }
  }
}

.role-description {
  height: 120px;
}
.custom-select.chzn-select + {

  .chosen-container {
    font-size: 14px;

    .chosen-choices,
    .chosen-single {
      background: transparent;
      padding: 3px 5px;
      border-radius: .25rem;
      border: 1px solid #ced4da;

      .search-choice {
        background-color: #fff;
        background-image: none !important;
      }
    }

    .chosen-single {
      height: auto !important;

      span {
        margin-top: 4px;
      }

      abbr {
        top: 12px;
      }
    }
  }
}
