/**
 * =====================================
 * Profile Styles
 * =====================================
 * Main file for profile styles
 * =====================================
 */
@media screen {
  .profile-pic {
    .the-image {
      height: 200px;
      width: 200px;
      border-radius:100%;
      border:2px solid $white;
      @include bg_size(cover);
      background-repeat:no-repeat;
      background-position:center;
      margin:0 auto;
    }
  }
  .profile-actions {
    ul {
      padding:0;
      margin:0;
      list-style:none;
      li {
        padding:10px 0;
      }
    }
  }
}
