@media screen {
  .datatable_with_expand_details {
    tbody {
      tr {
        td {
          .name-anchor {
            color:#525252;
            &:hover {
              text-decoration:none;
            }
          }
          .textify-more-details {
            position:relative;
            font-size:10px;
            font-style:italic;
            text-decoration:none;
            padding-left:10px;
            color:#0fb0c0;
            text-transform: lowercase;
            @include transition(.3s);
            &:after {
              content:"\f107";
              font-family: "fontawesome";
              padding-left:3px;
            }
            &.active {
              &:after {
                content:"\f106";
              }
            }
            &:hover {
              @include transition(.3s);
              color:#0c909d;
              text-decoration:none;
            }
          }
          &:first-child {
            .row-details {
              position:relative;
              display:inline-block;
              background:none;
              width: 100%;
              &.row-details-close {
                &:after {
                  content:"More Details";
                }
              }
              &.row-details-open {
                &:after {
                  content:"Hide Details";
                }
              }
            }
          }
        }
        &.details {
          @include transition(.3s);
          width:100%;
          display: none;
          background-color:#c7ecee;
          &:hover {
            background-color:#c7ecee;
          }
          &.active {
            display:table-row;
            @include transition(.3s);
          }
          td {
            padding:0 15px;
            width: 100%;
            &:hover {
              background-color:initial;
            }
            ul {
              padding:0;
              margin:0;
              list-style:none;
              li {
                padding:10px 0;
                font-size:15px;
                color:#7d7171;
                span {
                  font-weight:bold;
                  display: inline-block;
                  padding-right:6px;
                }
                ul {
                  li {
                    padding:5px 0;
                    span {
                      font-weight:400;
                      display:block;
                      font-size:14px;
                      &:last-child {
                        font-weight:300;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.tfoot-reports {
  background-color: #83d3d9;

  td {
    font-size: 1.2em;
    font-weight: bold;
  }
}
