 /**
  * =====================================
  * Variables
  * =====================================
  * Main File for Variables used in sass
  * =====================================
  */

 /**
  * =====================================
  * Fonts
  * =====================================
  */

  $font-family-sans-serif: "Roboto", raleway ,sans-serif;
  $font-size-base        : 1rem;
  $line-height-base      : 1.6;

 /**
  * =====================================
  * Color Palettes
  * =====================================
  */

  $body-bg     : #f5f8fa;
  $logoColor   : #58b2f7;
  $midnightblue: #0083dd;
  $deepblue    : #1f469c;
  $black       : rgba(0,0,0,1);
  $white       : rgba(255, 255, 255, 1);
  $border      : rgba(219, 217, 217, 1);

  $red         : #EA423E;
  $warning     : #ff8a27;

 /**
  * =====================================
  * Assets Paths
  * =====================================
  */

  $path-image   :   '../images';
  $path-fonts     :  '../fonts';

@mixin transition_all( $transition ) {
  -webkit-transition: all $transition;
  -ms-transition: all $transition;
  -o-transition: all $transition;
  transition: all $transition;
}

@mixin thumbrail($track-width,$track-color, $thumb-color){
  &::-webkit-scrollbar {
      width: $track-width;
  }
  &::-webkit-scrollbar-track {
    background: $track-color;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: $thumb-color;
  }
  &::-moz-scrollbar {
      width: $track-width;
  }
  &::-moz-scrollbar-track {
    background: $track-color;
    border-radius: 10px;
  }
  &::-moz-scrollbar-thumb {
      -moz-border-radius: 10px;
      border-radius: 10px;
      background: $thumb-color;
  }
  &::-o-scrollbar {
      width: $track-width;
  }
  &::-o-scrollbar-track {
    background: $track-color;
    border-radius: 10px;
  }
  &::-o-scrollbar-thumb {
      -o-border-radius: 10px;
      border-radius: 10px;
      background: $thumb-color;
  }

}
