
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

/** Mixins
 * ===================================== */
 @import "mixins";

/** Custom admin sass
 * ===================================== */
@import "admin";
@import "profile";
@import "error";
@import "partials/data-tables-custom";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

// Typography
@import "typography";
@import "textify-data-table";

// Forms
@import "form";

// Helpers
@import "helpers";

// Vue SASS
@import "vue-transitions";

/* just in case, you like to change theme color */
$--color-primary: blue;

/* icon font path, required */
$--font-path: '/element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";
@import '~element-ui/lib/theme-chalk/index.css';


a {

  &.anc-neutral {
    color: #20a7b9;
  }

  &.anc-underlined {
    color: inherit;
    text-decoration: underline;
    line-height: 1.1;
  }

  &.anc-neutral:hover {
    color: #4ccad7;
  }
}


.pagination-bar {
  margin-top:20px;
}

// Preloaders
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  backface-visibility: hidden;
  background: #ffffff;

  .preloader-img {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 48%;
    top: 48%;
    background-position: center;
    z-index: 999999

    img {
      width: 40px;
    }
  }
}
table {
  tbody {
    tr {
      td {
        vertical-align: middle !important;
      }
    }
  }
}
.outer {
  margin-top: 0;
}

.customer-wrapper {
  margin-bottom: 50px;
}

.chzn-select {
  + .chosen-container-multi {
    &.chosen-container-active {
      .chosen-choices {
        border:1px solid #80bdff;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
    .chosen-choices {
      border-radius:0.25rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &.input-error {
    + .chosen-container-multi {
      &.chosen-container-active {
        .chosen-choices {
          border:1px solid #80bdff;
        }
      }
      .chosen-choices {
        border:1px solid red;
        border-radius:0.25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
  &.input-error {
    + .chosen-container-single {
      &.chosen-container-active {
        .chosen-single {
          border:1px solid #80bdff !important;
        }
      }
      .chosen-single {
        border:1px solid red !important;
        border-radius:0.25rem !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }
  // &.required {
  //   + .chosen-container-multi{
  //     // width: 853px !important;
  //   }
  // }
}

table.table-data {
  width: 100% !important;
}

.filter-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 10px !important;
}

.chosen-container-multi .chosen-choices {
  padding: 2px 5px;
}

.filter-form {
  padding-top: 0;
  padding-bottom: 0;
}

.filter-row {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.control-label {
  text-transform: uppercase;
  font-weight: bolder;
}

.filter-submit {
  margin-top: 1.3rem !important;
}

.card-header {
  background-color:#0fb0c0;
  color: #fff;
}

.fileinput-new, .fileinput-preview img {
  width: 100%;
}

.required > label:after {
  content:" *"; color: red;
  font-size: 1.2rem;
  line-height: 1rem;
}

.input-error {
  border-color: red;
}

// Table button form

//SPACING
.m-r-0{
  margin: 0;
}
.m-r-5{
  margin-right: 5px;
}
.m-r-15{
  margin-right: 15px;
}
.m-t-5{
  margin-top: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-15{
  margin-top: 15px;
}
.m-t-20{
  margin-top: 20px;
}
.m-t-25{
  margin-top: 25px;
}
.m-t-30{
  margin-top: 30px;
}
.m-t-35{
  margin-top: 35px;
}
.m-t-40{
  margin-top: 40px;
}
.m-l-0{
  margin-left: 0;
}
.m-l-10{
  margin-left: 10px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-b-0{
  margin-bottom: 0;
}
.m-b-10{
  margin-bottom:10px;
}
.m-b-20{
  margin-bottom: 20px;
}
.p-b-20{
  padding-bottom: 20px;
}
.p-t-25{
  padding-top: 25px;
}
.p-t-15{
  padding-top: 15px;
}
.p-d-15 {
  padding: 15px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-t-10{
  padding-top: 10px;
}
.p-l-0{
  padding-left: 0;
}
.p-l-10{
  padding-left: 10px;
}
.p-l-15{
  padding-left: 15px;
}
.p-l-20{
  padding-left: 20px;
}
.p-r-0 {
  padding-right: 0;
}
.p-r-10{
  padding-right: 10px;
}
.p-r-15{
  padding-right: 15px;
}
.p-r-20{
  padding-right: 20px;
}
.p-lr-0{
  padding-left: 0;
  padding-right: 0;
}

.p-l-5{
  padding-left: 5px;
}
.p-d-0{
  padding: 0;
}
//END OF SPACING

// BORDER RADIUS

.b_r_0 {
  border-radius: 0;
}

.b_r_5 {
  border-radius: 5px;
}

.b_r_10 {
  border-radius: 10px;
}

.b_r_15 {
  border-radius: 15px;
}

.b_r_20 {
  border-radius: 20px;
}

.b_r_25 {
  border-radius: 25px;
}

.has-error {
  color: red;
}

.chosen-single {
  height: 33px !important;
  border-color: #ced4da  !important;
  background: #fff  !important;
  box-shadow: none  !important;
  -webkit-box-shadow: none  !important;
  border-radius: 3px !important;

  > span {
    margin-top: 5px;
  }

  > div b {
    margin-top: 5px;
  }
}

.chosen-drop {
  border-color: #ced4da  !important;
}

.diff_colored_checkbox .btn span.fa {
    opacity: 0;
}
.diff_colored_checkbox .btn.active span.fa {
    opacity: 1;
}
.diff_colored_radio .btn span.fa {
    opacity: 0;
}
.diff_colored_radio .btn.active span.fa {
    opacity: 1;
}
.sub_title{
    line-height: 25px;
}
.diff_colored_radio .btn,.diff_colored_checkbox .btn{
    margin-right:-2px;
}
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}
.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    // float: left;
    margin-right: .5em;
}
.radio .cr {
    border-radius: 50%;
}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 17%;
}
.radio .cr .cr-icon {
    margin-left: 0.04em;
}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.radio_custom_checkbox .custom-control-description,.radio_switchery_padding{
    padding-left: 10px;
}
.radio_check_box_top{
    margin-top: -12px;
}
.radio_custom_checkbox1 span{
    padding-left: 15px;
}
.radio_custom_checkbox .text-default{
    color:#0fb0c0;
}
.radio_card_bg{
    background-color: #fff;
}
.radio_basic_swithes_padbott{
    padding-bottom: 15px;
}
.small_font_check{
    font-size: 0.7em;
}
@media (max-width: 767px){
    .radio_header_top{
        margin-top: 25px;
    }
}
.diff_colored_checkbox .btn_danger_rad{
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}
.custom-radio .custom-control-input:checked ~ .custom_checkbox_default,
.custom-checkbox .custom-control-input:checked ~ .custom_checkbox_default{
    background-color: #0fb0c0 !important; }

.custom-radio .custom-control-input:checked ~ .custom_checkbox_success,
.custom-checkbox .custom-control-input:checked ~ .custom_checkbox_success{
    background-color: #00cc99 !important; }

.custom-radio .custom-control-input:checked ~ .custom_checkbox_info,
.custom-checkbox .custom-control-input:checked ~ .custom_checkbox_info{
    background-color: #347dff !important; }

.custom-radio .custom-control-input:checked ~ .custom_checkbox_warning,
.custom-checkbox .custom-control-input:checked ~ .custom_checkbox_warning{
    background-color: #ff9933 !important; }

.custom-radio .custom-control-input:checked ~ .custom_checkbox_primary,
.custom-checkbox .custom-control-input:checked ~ .custom_checkbox_primary{
    background-color: #4fb7fe !important; }

.custom-radio .custom-control-input:checked ~ .custom_checkbox_danger,
.custom-checkbox .custom-control-input:checked ~ .custom_checkbox_danger{
    background-color: #EF6F6C !important; }
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before{
    background-color: #e9ecef;
}
.diff_colored_radio input[type="radio"], .diff_colored_checkbox input[type="checkbox"]
{
    display: none;
}

.radio_Checkbox_size2{
    font-size: 1.5em;
}
.radio_Checkbox_size4{
    font-size: 1em;
}
.radio_Checkbox_size5{
    font-size: 0.8em;
}
.radio_grouped_checkbox{
    margin-top: 15px;
}
.checkbox_header_bottom{
    margin-bottom: 12px;
}
.switchery1 div {
    margin-top: 15px;
}

@media (max-width: 991px) {
    .transition_radio_media{
        margin-top: 15px;
    }
}
.custom-radio .custom-control-input:checked ~ .custom-control-label.custom_checkbox_success::before, .custom-checkbox .custom-control-input:checked ~ .custom-control-label.custom_checkbox_success::before{
    background-color: #00cc99 !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label.custom_checkbox_danger::before, .custom-checkbox .custom-control-input:checked ~ .custom-control-label.custom_checkbox_danger::before{
    background-color: #EF6F6C !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label.custom_checkbox_warning::before, .custom-checkbox .custom-control-input:checked ~ .custom-control-label.custom_checkbox_warning::before{
    background-color: #ff9933 !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label.custom_checkbox_info::before, .custom-checkbox .custom-control-input:checked ~ .custom-control-label.custom_checkbox_info::before{
    background-color:#347dff !important;
}

.alert-warning{
    background-color: rgba(255,153,51,0.9);
    border: 1px solid #FF8000;
}
.alert-success{
    background-color: rgba(0, 204, 153,0.9);
    border: 1px solid #009973;
}
.alert-info{
    background-color: rgba(52,125,255,0.9);
    border: 1px solid #015CFF;
}
.alert-danger{
    background-color: rgba(255, 102, 102,0.9);
    border: 1px solid #FF3333;
}

.hidden {
  display: none;
}

.pagination-container {
  text-align: center;

  .pagination {
    display: inline-flex;

    li {
      padding: 3px 6px;
      border: 1px solid #21AFBD;
      background-color: #21AFBD;
      border-radius: 5px;
      margin: 2px

      a {
        color: #fff;
      }

      &.active {
        background-color: #fff;
        span {
          color: #000;
        }
      }
    }
  }
}
