<template>
    <div class="recipient-wrapper">
        <div class="form-group row">
            <div class="col-12">
                <p class="font-warning"><sup>*</sup><strong>Warning!</strong> Contacts with no numbers will not display in the list. Kindly make sure all contacts have a number.</p>
                <div :class="(dataFail) == true ? 'alert alert-danger d-block' : 'alert alert-danger d-none'">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-close"></i></button>
                    <strong>Warning!</strong>
                    {{dataFailMessage}}
                </div>
                <flash-message transitionIn="animated swing" class="myCustomClass"></flash-message>
            </div>
            <div class="col-12">
                <div :class="post.smart_filter ? 'standard-search d-none' : 'standard-search'">
                    <label for="">Search Contact</label>
                    <multiselect
                        v-model="post.contact_ids"
                        label="label"
                        track-by="label"
                        placeholder="Select Options"
                        :options="contact_ids_options"
                        :loading="isLoading"
                        :max-height="150"
                        :allow-empty="true"
                        :taggable="true"
                        @tag="addTag"
                        :close-on-select="true"
                        :hide-selected="true"
                        :clear-on-select="true"
                        :multiple="true"
                        @input="getContactIds($event)"
                        @remove="removeThis($event)">
                    </multiselect>
                </div>
                <div class="smart-filter">
                    <h4 class="font-primary">--- OR ---</h4>
                    <div class="form-group row">
                        <div class="col">
                            <label for="">Use the smart filter options</label>
                            <i class="fa fa-question-circle"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Click 'Generate Recipient' button to retrieve recipients base from the filters."></i>
                            <multiselect
                                v-model="post.smart_filter_selected"
                                label="label"
                                track-by="label"
                                placeholder="Select Options"
                                :options="smart_filter_options"
                                :max-height="150"
                                :allow-empty="true"
                                :close-on-select="true"
                                :hide-selected="true"
                                :clear-on-select="true"
                                @input="getValue($event, 'smart_filter')">
                            </multiselect>
                        </div>
                    </div>
                    <div id="select-filter-option" :class="post.smart_filter_selected.value == 'custom_filter' ? 'smart-filter-wrapper active' : 'smart-filter-wrapper in-active' ">
                        <div class="form-group row custom_filter" data-option="custom_filter">
                            <div class="col-6">
                                <label for="">Groups</label>
                                <multiselect
                                    v-model="post.customer_group"
                                    label="label"
                                    track-by="value"
                                    placeholder="Select Group"
                                    :options="customer_group_options"
                                    :max-height="150"
                                    :allow-empty="true"
                                    :close-on-select="true"
                                    :hide-selected="true"
                                    :clear-on-select="true"
                                    @input="getValue($event, 'customer_group')">
                                </multiselect>
                            </div>
                            <div class="col-6">
                                <label for="">Gender</label>
                                <multiselect
                                    v-model="post.gender"
                                    label="label"
                                    track-by="value"
                                    placeholder="Select Gender"
                                    :options="gender_options"
                                    :max-height="150"
                                    :allow-empty="true"
                                    :close-on-select="true"
                                    :hide-selected="true"
                                    :clear-on-select="true"
                                    @input="getValue($event, 'gender')">
                                </multiselect>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-8">
                                <label for="">Birthday</label>
                                <div class="row">
                                    <div class="col">
                                        <div class="month-wrapper">
                                            <multiselect
                                                v-model="post.birthday.month"
                                                label="label"
                                                track-by="value"
                                                placeholder="Select Month"
                                                :options="months"
                                                :max-height="150"
                                                :allow-empty="true"
                                                :close-on-select="true"
                                                :hide-selected="true"
                                                :clear-on-select="true"
                                                @input="getValue($event, 'month')">
                                            </multiselect>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="day-wrapper">
                                            <multiselect
                                                v-model="post.birthday.day"
                                                label="label"
                                                track-by="value"
                                                placeholder="Select Day"
                                                :options="days"
                                                :max-height="150"
                                                :allow-empty="true"
                                                :close-on-select="true"
                                                :hide-selected="true"
                                                :clear-on-select="true"
                                                @input="getValue($event, 'day')">
                                            </multiselect>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="year-wrapper">
                                            <multiselect
                                                v-model="post.birthday.year"
                                                label="label"
                                                track-by="value"
                                                placeholder="Select Year"
                                                :options="years"
                                                :max-height="150"
                                                :allow-empty="true"
                                                :close-on-select="true"
                                                :hide-selected="true"
                                                :clear-on-select="true"
                                                @input="getValue($event, 'year')">
                                            </multiselect>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <label for="">City</label>
                                <multiselect
                                    v-model="post.cities"
                                    label="label"
                                    track-by="value"
                                    placeholder="Select Cities"
                                    :options="cities_options"
                                    :max-height="150"
                                    :allow-empty="true"
                                    :close-on-select="true"
                                    :hide-selected="true"
                                    :clear-on-select="true"
                                    @input="getValue($event, 'cities')">
                                </multiselect>
                            </div>
                        </div>
                    </div>
                    <div id="select-filter-option-2" :class="post.smart_filter_selected.value == 'all_customer' ? 'smart-filter-wrapper active' : 'smart-filter-wrapper in-active' ">
                        <div class="form-group row custom_filter" data-option="custom_filter">
                            <div class="col-4">
                                <label for="">Max Count <em class="small">(maximum number of customers to get, leave empty if wish to get all)</em></label>
                                <input
                                    id="max-count"
                                    name="max_count"
                                    v-model="post.all_max_count"
                                    label="Maximum number of customers"
                                    track-by="value" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" v-if="display_count">
                <h6>
                    Total count of contacts retrieve with mobile number: <strong>"{{ customer_count }}"</strong>
                    <a href="javascript:;" title="View All Recipients" target="_blank" class="all-recipient" data-toggle="modal" data-target="#vue-recipient" @click="viewContacts()">(Click here to view the list of recipients)</a>
                    <a href="javascript:;" @click="resetRecipients()" class="font-red">(<i class="fa fa-close"></i>&nbsp;Clear List)</a>
                </h6>
            </div>
            <div class="col-12">
                <div class="btn-group float-right" v-if="post.smart_filter_selected.value != null">
                    <button class="btn btn-success m-r-5" @click="generateContacts()" type="button">
                        <i class="fa fa-hourglass-start" aria-hidden="true"></i>&nbsp;&nbsp;Generate Recipient
                    </button>
                </div>
                <div class="btn-group float-right" v-if="post.smart_filter_selected.value == 'custom_filter'">
                    <button class="btn btn-success m-r-5" @click="clearFilter()" type="button">
                        <i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;&nbsp;Clear Filter
                    </button>
                </div>
            </div>
        </div>
        <div class="modal" id="vue-recipient" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-xl modal-info modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalLabel">All Recipient</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <data-tables-server :data="customers" :total="parseInt(pages[0].total)" @query-change="loadData">
                            <el-table-column v-for="header in headers" :prop="header.prop" :label="header.label" :key="header.label"></el-table-column>
                        </data-tables-server>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.getAllContacts();
        },
        components: {
        },
        props: [
            'subAccountID', 'clientID'
        ],
        data: vm => ({
            headers:[
                { prop: 'full_name', label: 'Fullname' },
                { prop: 'mobile_number', label: 'Mobile Number' },
                { prop: 'gender', label: 'Gender' },
                { prop: 'birthday', label: 'Birthday' },
                { prop: 'email', label: 'Email' },
            ],
            contact_ids_options: [],
            cities_options: [],
            customer_group_options: [],
            smart_filter_options: [
                {
                    'label':'All Customers',
                    'value':'all_customer',
                },
                {
                    'label':'Custom Filter',
                    'value':'custom_filter'
                }
            ],
            gender_options: [
                {
                    'label':'Select Options',
                    'value':'select_option',
                },
                {
                    'label':'Female',
                    'value':'female',
                },
                {
                    'label':'Male',
                    'value':'male'
                }
            ],
            dataFail: false,
            dataFailMessage: '',
            genCounter:0,
            display_count: false,
            smart_filter: false,
            mobileNumbers: [],
            generatedContact: [],
            customers: [],
            comparedData: [],
            customer_ids: [],
            customer_count: '',
            getMore: false,
            isLoading: false,
            offset: '',
            months: [],
            days: [],
            years: [],
            pages:[
                {
                    'link' : '',
                    'current_page' : '',
                    'from' : '',
                    'last_page' : '',
                    'per_page' : '',
                    'to' : '',
                    'total' : '',
                    'links' : [
                        {
                            'first': '',
                            'last': '',
                            'next': '',
                            'prev': '',
                        }
                    ]
                }
            ],
            post: {
                contact_ids:[],
                customer_group: '',
                smart_filter_selected: '',
                gender: '',
                cities: '',
                all_max_count: '',
                birthday: [
                    {
                        'month': '',
                        'day'  : '',
                        'year' : '',
                    }
                ]
            },
        }),
        computed: {
        },
        methods: {
            isNumeric: function (n) {
                return !isNaN(parseFloat(n)) && isFinite(n);
            },
            onlyUnique:function(value, index, self) {
                if( value != null || value != ' ' || value != '' ) {
                    return self.indexOf(value) === index;
                }
            },
            collectData: function() {
                var contacts_to_be_send         = ( $('#contacts_to_be_send').val().length > 0 ) ? $('#contacts_to_be_send').val() : '';
                var mobile_number_to_be_send    = ( $('#mobile_number_to_be_send').val().length > 0 ) ? $('#mobile_number_to_be_send').val(): '';
                var generated_contact           = ( $('#generated_contact').val().length > 0 ) ? $('#generated_contact').val() : '';
                var contacts_to_be_sendArr      = contacts_to_be_send.split(",");
                var mobile_number_to_be_sendArr = mobile_number_to_be_send.split(",");
                var generated_contactArr        = generated_contact.split(",");
                var allIDs                      = $('#allIDs');

                // var finalIds = arrIDS.filter(this.onlyUnique);
                var combinedIds = _.union(contacts_to_be_sendArr, mobile_number_to_be_sendArr, generated_contactArr);
                var filtered = combinedIds.filter(function (item) {
                    return item != "";
                });

                $('#allIDs').val(filtered.length).attr('value', filtered.length);

                var IDs = $('#allIDs').val();
                var currentCost = $('#creditNum').text();
                var totalCost = IDs * currentCost;

                $('#total_cost').text(totalCost);
            },
            multipleStyle:function() {
                if( this.post.smart_filter )  {
                    this.post.smart_filter = false;
                } else {
                    this.post.smart_filter = true;
                }
            },
            getContactIds: function(event) {
                event.forEach((item, key)=> {
                    let found = this.inArray(item.value, this.customer_ids);
                    if( found == false && item.label != item.value) {
                        this.comparedData.push(item.value);
                        this.customer_ids.push(item.value);
                    }
                });
                $('#contacts_to_be_send').val(this.customer_ids).attr('value', this.customer_ids);
                this.collectData();
            },
            removeThis: function(event) {
                if( event.label != event.value ) {
                    let customerIds = this.customer_ids;
                    let forDeletion = [];

                    customerIds.forEach((innerItem) => {
                        let remove = this.notInArray(innerItem, this.post.contact_ids );
                        if ( remove == true ) {
                            forDeletion.push(innerItem);
                        }
                    });

                    this.customer_ids = this.customer_ids.filter((value, key) => {
                        return forDeletion.indexOf(value) < 0;
                    });
                } else {
                    let forDeletion = [];
                    let remove = this.notInArray(event, this.mobileNumbers );
                    if ( remove == true ) {
                        forDeletion.push(event.value);
                    }
                    this.mobileNumbers = this.mobileNumbers.filter((value, key) => {
                        return forDeletion.indexOf(value) < 0;
                    });

                    $('#mobile_number_to_be_send').val(this.mobileNumbers).attr('value', this.mobileNumbers);
                }
            },
            resetRecipients: function () {
				this.display_count = false;
            	$('#generated_contact').val('').attr('value', '');
            	$('#allIDs').val('').attr('value', '');
            	this.collectData();
			},
            getValue: function(event, type) {
            	this.resetRecipients();
                if( type == 'smart_filter' ) {
                    this.post.smart_filter_selected = event;
                    this.post.customer_group = '';
                    this.post.gender = '';
                    this.post.cities = '';
                    this.post.birthday[0].month = '';
                    this.post.birthday[0].day = '';
                    this.post.birthday[0].year = '';
                } else if( type == 'customer_group') {
                    this.post.customer_group = event;
                } else if( type == 'gender' ) {
                    this.post.gender = event;
                } else if( type == 'cities' ) {
                    this.post.cities = event;
                } else if( type == 'month' ) {
                    this.post.birthday[0].month = event;
                } else if( type == 'day' ) {
                    this.post.birthday[0].day = event;
                } else if( type == 'year' ) {
                    this.post.birthday[0].year = event;
                }
            },
            addTag: function(newTag) {
                const valid = this.isNumeric(newTag) === true;
                const tag = {
                    label: newTag,
                    value: newTag
                }
                // this.contact_ids_options.push(tag);
                // this.customer_ids.push(tag.value);
                if( valid ) {
                    this.post.contact_ids.push(tag);
                    this.mobileNumbers.push(tag.value);
                    $('#mobile_number_to_be_send').val(this.mobileNumbers).attr('value', this.mobileNumbers);
                    this.collectData();
                } else {
                    this.flash('PLease enter a valid number', 'error', {
                        timeout: 800,
                    });
                }
            },
            inArray: function(checkThis, thisArray) {
                var length = thisArray.length;
                for(var i = 0; i < length; i++) {
                    if(thisArray[i] == checkThis) {
                        return true;
                    }
                }
                return false;
            },
            notInArray: function(removeThis, thisArray) {
                var length = thisArray.length;
                for(var i = 0; i < length; i++) {
                    if(thisArray[i] == removeThis) {
                        return false;
                    }
                }
                return true;
            },
            getAllContacts: function() {
                axios.get(this.api.contactIndex, { params: { subID: this.subAccountID, offset: 1, clientID: this.clientID } })
                .then( resp => {
                    if( resp.data.success ) {
                        this.contact_ids_options = resp.data.customers;
                        this.customer_group_options = resp.data.customerGroup;
                        this.cities_options = resp.data.cities;
                        this.days = resp.data.days;
                        this.years = resp.data.years;
                        this.months = resp.data.months;
                        if( resp.data.customers ) {
                            this.getMore = true;
                            this.offset = 1;
                            this.loadNextData();
                        } else {
                            this.getMore = false;
                        }
                    } else {
                        this.getMore = false;
                    }
                });
            },
            loadNextData: function() {
                if( this.getMore ) {
                    this.isLoading = true;
                    const newOffset = this.offset + 1;
                    let url = `${this.api.asyncContact}?subID=${this.subAccountID}&offset=${newOffset}&per_page=100`;
                    axios.get(url)
                    .then( resp => {
                        if( resp.data.success ) {
                            let data_first = this.contact_ids_options;
                            let data_two = resp.data.customers;
                            this.contact_ids_options = data_first.concat(data_two);
                            this.getMore = true;
                            this.offset = newOffset;
                            setTimeout(()=> {
                                this.loadNextData();
                            },1000);
                        } else {
                            this.getMore = false;
                            this.isLoading = false;
                        }
                    });
                } else {
                    this.getMore = false;
                    this.isLoading = false;
                }
            },
            generateContacts: function() {
                this.genCounter = this.genCounter + 1;
                const genLog = this.genCounter;
                axios.post(this.api.generateContacts, { data: this.post, params: { subID: this.subAccountID, clientID: this.clientID }})
                .then( resp => {
                    if( resp.data.success ) {
                        let genArr = [];
                        let result = resp.data.customer_ids.split(",").map(function(item) {
                            return parseInt(item, 10);
                        });
                        this.generatedContact = result;
                        this.customer_count = resp.data.customer_count;
                        this.display_count = true;
                        this.dataFail = false;
                        $('#generated_contact').val(this.generatedContact).attr('value', this.generatedContact);
                        this.collectData();
                    } else {
                        this.dataFail = true;
                        this.dataFailMessage = 'Select atleast one option the smart filter dropdown!';
                    }
                });
            },
            viewContacts: function() {
                axios.post(this.api.viewContacts, { data: this.post, params: { subID: this.subAccountID, clientID: this.clientID, customerIds: this.generatedContact }})
                .then( resp => {
                    if( resp.status == 200 ) {
                        this.customers = resp.data.data;
                        this.pages[0].link = resp.config.url;
                        this.pages[0].current_page = resp.data.meta.current_page;
                        this.pages[0].from = resp.data.meta.from;
                        this.pages[0].last_page = resp.data.meta.last_page;
                        this.pages[0].per_page = resp.data.meta.per_page;
                        this.pages[0].to = resp.data.meta.to;
                        this.pages[0].total = resp.data.meta.total;
                        this.pages[0].links[0].first = resp.data.links.first;
                        this.pages[0].links[0].last = resp.data.links.last;
                        this.pages[0].links[0].next = resp.data.links.next;
                        this.pages[0].links[0].prev = resp.data.links.prev;
                    }
                });
            },
            http: function(res, time = 200) {
                return new Promise( async(resolve, reject) => {
                    let items = ''
                    let url = ''
                    if( res.type === 'page') {
                        url = `${this.api.getPage}?subID=${this.subAccountID}&clientID=${this.clientID}&data=${JSON.stringify(this.post)}&page=${res.page}&pageSize=${res.page}&per_page=${this.pages[0].per_page}&customerIds=${JSON.stringify(this.generatedContact)}`;
                        items = await this.getData(url);
                    }
                    const total = items.meta ? items.meta.total : '';
                    const data = items.data
                    setTimeout(()=> {
                        resolve({data,total});
                    }, time);
                })
            },
            getData:function(url) {
                return axios.get(url)
                .then( resp => {
                    if( resp.status == 200 ) {
                        return resp.data
                    }
                });
            },
            async loadData(queryInfo) {
                let { data, total } = await this.http(queryInfo)
                this.customers = data;
                this.pages[0].total = total;
            },
            clearFilter: function() {
                this.post.customer_group = '';
				this.post.all_max_count = '';
                this.post.gender = '';
                this.post.cities = '';
                /*this.post.smart_filter_selected.label = ;
				this.post.smart_filter_selected.value = ;*/
				this.post.smart_filter_selected = {
					label: 'Select Options',
                    value: 'select_option'
                };
                this.post.birthday.month = '';
                this.post.birthday.day = '';
                this.post.birthday.year = '';
                this.post.birthday[0].month = '';
                this.post.birthday[0].day = '';
                this.post.birthday[0].year = '';
                this.generatedContact = [];
                this.display_count = false;

                // let forDeletion = [];
                // let customerIds = this.customer_ids;
                // this.generatedNumber.forEach((innerItem) => {
                //     let remove = this.inArray(innerItem, this.customer_ids);
                //     if ( remove == true ) {
                //         forDeletion.push(innerItem);
                //     }
                // });

                // this.customer_ids = this.customer_ids.filter((value, key) => {
                //     return forDeletion.indexOf(value) < 0;
                // });

                this.customer_count = 0;
                $('#generated_contact').val(this.generatedContact).attr('value', this.generatedContact);
                this.collectData();
            },
            monthFormatter(date) {
                return moment(date).format('MMMM');
            },
            dayFormatter(date) {
                return moment(date).format('D');
            },
            yearFormatter(date) {
                return moment(date).format('YYYY');
            },
        },
        watch: {
        }
    }
</script>
