<template>
    <div>
        <flash-message transitionIn="animated swing" class="myCustomClass"></flash-message>
        <form @submit.prevent="submitTask" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="card" v-if="postAction != 'store'">
                        <div class="card-header">
                            How To Use
                            <div class="collapse-button" @click="howToUse = !howToUse">
                                <i v-if="!howToUse" class="fa fa-caret-down" aria-hidden="true"></i>
                                <i v-else class="fa fa-caret-up" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div v-if="howToUse" class="card-body">
                            <div class="m-b-10">
                                <h6>Make an API call using this URL and it will create an SMS job that either to send immediately or scheduled, base on the settings you choose below.</h6>
                                <code>{{ post.apiUrl }}</code>
                                <br><br>
                                <h6>Parameters you must change for every call:</h6>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="text-center"><code>SECURITY_KEY</code></td>
                                            <td class="text-center" width="120"><code><em>required</em></code></td>
                                            <td>Your SECURITY KEY: <em class="font-main-blue">{{ taskDetails.subacc_security_key  }}</em></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><code>APP_KEY </code></td>
                                            <td class="text-center"><code><em>required</em></code></td>
                                            <td>Your APP KEY: <em class="font-main-blue">{{ taskDetails.task_key }}</em></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><code>first_name</code></td>
                                            <td class="text-center"><code><em>optional</em></code></td>
                                            <td>Replace with the first name of the recipient</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><code>last_name</code></td>
                                            <td class="text-center"><code><em>optional</em></code></td>
                                            <td>Replace with the last name of the recipient</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><code>number</code></td>
                                            <td class="text-center"><code><em>required</em></code></td>
                                            <td>Replace with the recipients mobile number</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><code>items</code></td>
                                            <td class="text-center"><code><em>optional</em></code></td>
                                            <td>Replace with the name of the entity you want to include in the SMS, eg: product name, service name and etc.</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><code>date</code></td>
                                            <td class="text-center"><code><em>required</em></code></td>
                                            <td>Replace with the Booking Date.</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><code>time</code></td>
                                            <td class="text-center"><code><em>required</em></code></td>
                                            <td>Replace with the Booking Time.</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><code>business_name</code></td>
                                            <td class="text-center"><code><em>optional</em></code></td>
                                            <td>Replace with the Business Name.</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><code>business_phone_number</code></td>
                                            <td class="text-center"><code><em>optional</em></code></td>
                                            <td>Replace with the Business Phone Number.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div :class="postAction == 'store' ? 'card' : 'card m-t-15'">
                        <div class="card-header">
                            Task Details
                            <div class="collapse-button" @click="taskDetailsCard = !taskDetailsCard">
                                <i v-if="!taskDetailsCard" class="fa fa-caret-down" aria-hidden="true"></i>
                                <i v-else class="fa fa-caret-up" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div v-if="taskDetailsCard" class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group required subaccount-vue-field">
                                        <label for="subaccount">Sub Account</label>
                                        <input
                                            type="text"
                                            v-model="post.subaccount_name"
                                            name="subaccount"
                                            class="form-control"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group required campaign-vue-options">
                                        <label for="subaccount">Campaign</label>
                                        <multiselect
                                            v-model="post.campaign"
                                            label="label"
                                            track-by="label"
                                            placeholder="Select Options"
                                            :options="campaign_options"
                                            :value="selected_campaign"
                                            :loading="isLoading"
                                            :height="42"
                                            :max-height="150"
                                            :allow-empty="true"
                                            :close-on-select="true"
                                            :hide-selected="true"
                                            :clear-on-select="true"
                                            :multiple="false">
                                        </multiselect>
                                        <a href="javascript:;" class="plus-icon btn btn-success quick-create-campaign vue" data-toggle="modal" data-target="#create-quick-campaign">
                                            <i class="fa fa-plus" aria-hidden="true"></i><span>Add New</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col">
                                    <div class="checkbox">
                                        <div class="form-group m-b-0" unselectable="on">
                                            <label for="send_immediate" unselectable="on" style="display:block">Send Immediate?</label>
                                            <div class="checkbox-wrapper" unselectable="on">
                                                <div v-on:click="changesStatus('si')" :class="post.send_immediate ? 'the-checkbox active' : 'the-checkbox inactive'" style="margin-left:0; margin-top:11px;">
                                                    <span class="trigger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col">
                                    <div class="checkbox">
                                        <div class="form-group m-b-0" unselectable="on">
                                            <label for="send_immediate" unselectable="on" style="display:block">Activate SMS Reminder</label>
                                            <div class="checkbox-wrapper" unselectable="on">
                                                <div v-on:click="changesStatus('sms')" :class="post.sms_reminder ? 'the-checkbox active' : 'the-checkbox inactive'" style="margin-left:0; margin-top:11px;">
                                                    <span class="trigger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col">
                                    <div class="checkbox">
                                        <div class="form-group m-b-0" unselectable="on">
                                            <label for="send_immediate" unselectable="on" style="display:block">Send Notification</label>
                                            <div class="checkbox-wrapper" unselectable="on">
                                                <div v-on:click="changesStatus('sms_notification')" :class="post.sms_notification ? 'the-checkbox active' : 'the-checkbox inactive'" style="margin-left:0; margin-top:11px;">
                                                    <span class="trigger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div :class="(!post.send_immediate) ? 'form-group required send-after-wrapper active' : 'form-group required send-after-wrapper in-active'">
                                <label for="send_after">Send After</label>
                                <div class="row" id="send_after">
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <input v-model="post.send_after.days" type="number" class="form-control" placeholder="Select No. of Days" aria-label="Select No. of Days" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">Days</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <select v-model="post.send_after.hours" type="number" class="form-control" placeholder="Select No. of Hour" aria-label="Select No. of Hour" aria-describedby="basic-addon2">
                                                <option v-for="(hr, index) in hours_options" v-bind:key="index" :value="hr">{{hr}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">Hours</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <select v-model="post.send_after.mins" type="number" class="form-control" placeholder="Select No. of Minutes" aria-label="Select No. of Minutes" aria-describedby="basic-addon2">
                                                <option v-for="(min, index) in minutes_options" v-bind:key="index" :value="min">{{min}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">Minutes</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col">
                                    <label for="messages">Notification SMS</label>
                                    <div class="list-of-short-code">
                                        <span class="shortcode-click" data-toggle="tooltip" data-placement="right" title="See all shortcodes">See list of Shortcodes</span><br>
                                        <div class="listing">
                                            <ul class="ul-listing">
                                                <li class="first-label">
                                                    <div class="span-label">Shortcodes</div>
                                                </li>
                                                <li v-for="(shortcode, index) in jsonShortCodes" v-bind:key="index">
                                                    <b>
                                                        <span v-bind:id="`shortcode_${shortcode}`">[{{ shortcode }}]</span>
                                                        <span
                                                            class="copy-btn c1"
                                                            data-toggle="tooltip"
                                                            data-placement="right"
                                                            title="Copy Shortcode"
                                                            v-on:click="copyToClipboard(`shortcode_${shortcode}`)">COPY
                                                        </span>
                                                    </b>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="input-group input-group-prepend">
                                        <span class="input-group-text br-0 border- right-0 rounded-left">
                                            <i class="fa fa-list" aria-hidden="true"></i>
                                        </span>
                                        <textarea v-model="post.message" class="form-control message required" id="message" autocomplete="new-description" required="" name="message" cols="50" rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div :class="(post.sms_reminder) ? 'sms-reminder-wrapper active' : 'form-group required sms-reminder-wrapper in-active'">
                        <div class="card m-t-20">
                            <div class="card-header">
                                SMS Reminder
                                <div class="collapse-button" @click="smsReminder = !smsReminder">
                                    <i v-if="!smsReminder" class="fa fa-caret-down" aria-hidden="true"></i>
                                    <i v-else class="fa fa-caret-up" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div v-if="smsReminder" class="card-body">
                                <div class="reminder-wrapper m-t-10" v-for="(sms, index) in post.sms_reminder_holder" v-bind:key="index">
                                    <div class="row">
                                        <div class="col-md-8 required">
                                            <label for="messages">Reminder SMS</label>
                                            <div class="list-of-short-code">
                                                    <span class="shortcode-click" data-toggle="tooltip" data-placement="right" title="See all shortcodes">See list of Shortcodes</span><br>
                                                    <div class="listing">
                                                        <ul class="ul-listing">
                                                            <li class="first-label">
                                                                <div class="span-label">Shortcodes</div>
                                                            </li>
                                                            <li v-for="(shortcode, index) in jsonShortCodes" v-bind:key="index">
                                                                <b>
                                                                    <span v-bind:id="`shortcode_${shortcode}`">[{{ shortcode }}]</span>
                                                                    <span
                                                                        class="copy-btn c1"
                                                                        data-toggle="tooltip"
                                                                        data-placement="right"
                                                                        title="Copy Shortcode"
                                                                        v-on:click="copyToClipboard(`shortcode_${shortcode}`)">COPY
                                                                    </span>
                                                                </b>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            <div class="input-group input-group-prepend">
                                                <span class="input-group-text br-0 border- right-0 rounded-left">
                                                    <i class="fa fa-list" aria-hidden="true"></i>
                                                </span>
                                                <textarea v-model="post.sms_reminder_holder[index].message" class="form-control message required" id="message" autocomplete="new-description" required="" name="message" cols="50" rows="6"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4 required">
                                            <label for="send_after">Send Before</label>
                                            <div class="row" id="send_after">
                                                <div class="col">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon2">Days</span>
                                                        </div>
                                                        <input v-model="post.sms_reminder_holder[index].send_before.days" type="number" class="form-control" placeholder="Select No. of Days" aria-label="Select No. of Days" aria-describedby="basic-addon2">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon2">Hours</span>
                                                        </div>
                                                        <select v-model="post.sms_reminder_holder[index].send_before.hours" type="number" class="form-control" placeholder="Select No. of Hour" aria-label="Select No. of Hour" aria-describedby="basic-addon2">
                                                            <option v-for="(hr, index) in hours_options" v-bind:key="index" :value="hr">{{hr}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon2">Minutes</span>
                                                        </div>
                                                        <select v-model="post.sms_reminder_holder[index].send_before.mins" type="number" class="form-control" placeholder="Select No. of Minutes" aria-label="Select No. of Minutes" aria-describedby="basic-addon2">
                                                            <option v-for="(min, index) in minutes_options" v-bind:key="index" :value="min">{{min}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="javascript:;" v-on:click="deleteRow(index, post.sms_reminder_holder[index].id)">
                                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div v-if="smsReminder" class="card-footer">
                                <div class="row">
                                    <div class="col text-right">
                                        <button class="btn btn-success" v-on:click="addRow" type="button">Add SMS Reminder</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="jobsCount > 0">
                        <div class="card m-t-20">
                            <div class="card-header">
                                Job List
                                <div class="collapse-button" @click="jobList = !jobList">
                                    <i v-if="!jobList" class="fa fa-caret-down" aria-hidden="true"></i>
                                    <i v-else class="fa fa-caret-up" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div v-if="jobList" class="card-body">
                                <div class="booking-task-table">
                                    <data-tables-server :data="extractedJobs" :page-size="pages[0]['pageSize']" :pagination-props="{ background: true , pageSizes:[ pages[0]['pageSize'] ] }" :total="pages[0]['total']" @query-change="loadData" :table-props="tableProps">
                                        <el-table-column v-for="header in jobHeaders" :prop="header.prop" :label="header.label" :key="header.label" v-html="header.prop">
                                            <template slot-scope="scope">
                                                <div v-if="header.prop == 'customer_name'">
                                                    {{ ( scope.row.customer_name != '[FIRST_NAME] [LAST_NAME]' ) ? scope.row.customer_name : 'Custom Number' }}
                                                </div>
                                                <div v-else-if="header.prop == 'customer_number'">
                                                    <div v-if="scope.row.table_name == 'jobs_failed'">
                                                        <span class='invalid-number'>{{scope.row.customer_number}}</span>
                                                    </div>
                                                    <div v-else>
                                                        {{scope.row.customer_number}}
                                                    </div>
                                                </div>
                                                <div v-else-if="header.prop == 'date_time_formatted'">
                                                    {{scope.row.date_time_formatted}}
                                                </div>
                                                <div v-else-if="header.prop == 'credits_consumed'">
                                                    {{scope.row.credits_consumed}}
                                                </div>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="Status / Actions" min-width="100px">
                                            <template slot-scope="scope">
                                                <div v-for="(text, index) in customButtonsForRow(scope.row)" :key="index" type="text">
                                                    <img :src="text.image" :alt="text.alt" :title="text.name">
                                                    {{ text.name }}
                                                    <i v-if="scope.row.table_name == 'jobs_failed'" class="fa fa-exclamation-circle font-red" data-toggle="tooltip" data-placement="right" title="" :data-original-title="`Error: ${text.error_log}`"></i>
                                                </div>
                                                <ul class="job-action-buttons">
                                                    <li :class="scope.row.table_name == 'jobs_failed' ? 'failed' : 'not-failed'">
                                                        <a :href="button.view_url" v-for="(button) in customButtonsForRow(scope.row)" :key="button.name" type="text" class="d-inline badge-sm badge badge-info p-2">
                                                            view
                                                        </a>
                                                    </li>
                                                    <li v-if="scope.row.table_name == 'jobs_failed'">
                                                        <a :href="button.resend" v-for="(button, index) in customButtonsForRow(scope.row)" :key="index" type="text" class="d-inline badge-sm badge badge-success p-2">
                                                            Resend
                                                        </a>
                                                    </li>
                                                </ul>
                                            </template>
                                        </el-table-column>
                                    </data-tables-server>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" id="sticky">
                        <div class="card-header">
                            Actions
                        </div>
                        <div class="card-body">
                            <div class="checkbox m-b-10">
                                <div class="checkbox">
                                    <div class="form-group m-b-0" unselectable="on">
                                        <div class="checkbox-wrapper" unselectable="on">
                                            <div v-on:click="changesStatus('active')" :class="post.status ? 'the-checkbox active' : 'the-checkbox inactive'" style="margin-left:0;">
                                                <span class="trigger"></span>
                                            </div>
                                        </div>
                                        <label for="send_immediate" unselectable="on" style="margin-left:10px;">Active</label>
                                    </div>
                                </div>
                            </div>
                            <div class="stats m-t-15">
                                <h5 class="m-b-15">Statistic</h5>
                                <table class="table table-full-width table-striped">
                                    <tbody>
                                        <tr>
                                            <td width="50%">SMS Made:</td>
                                            <td width="50%">{{ post.sms_to_be_send }}</td>
                                        </tr>
                                        <tr>
                                            <td width="50%">Sent SMS:</td>
                                            <td width="50%">{{ post.sent_sms }}</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" class="font-red">Failed SMS:</td>
                                            <td width="50%" class="font-red">{{ post.failed_sms }}</td>
                                        </tr>
                                        <tr>
                                            <td width="50%">Credits Consumed:</td>
                                            <td width="50%">{{ post.credits_consumed }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button :class="(processing == true) ? 'btn btn-success form-control loading' : 'btn btn-success form-control'" type="submit">
                                <template v-if="(processing== true)">
                                    <img :src="`${PublicImages}` + 'loading.svg'"  alt="loading" title="loader"> &nbsp; Saving Task
                                </template>
                                <template v-else>
                                    <i class="fa fa-save"></i> &nbsp; {{ btnLabel }}
                                </template>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.makeOptions();
            this.saveCampaign();
            this.getCampaign();
            this.jsonShortCodes = this.shortCodes;
            if( this.postAction == 'store' ) {
                this.post.message = this.messagePlaceholder;
            } else {
                this.formatTaskModels();
            }

            console.log('POST SMS NOTIF', this.post.sms_notification);
        },
        components: {
        },
        props: [
            'subAccountID', 'clientID', 'postAction', 'shortCodes', 'messagePlaceholder', 'reminderMessagePlaceholder', 'taskDetails', 'taskJobs', 'taskIDs', 'accountType', 'secKey', 'appKey'
        ],
        data: function() {
            return {
                PublicImages : this.getPublicImages(),
                AssetsImages : this.getAssetsImages(),
                DomainUrl : this.getDomainUrl(),
                isLoading: false,
                campaign_options:[],
                selected_campaign:[],
                hours_options:[],
                minutes_options:[],
                rowCount:0,
                vue_save_campaign: false,
                processing: false,
                busy: false,
                jsonShortCodes : [],
                jobHeaders:[
                    { prop: 'customer_name', label: 'Full Name' },
                    { prop: 'customer_number', label: 'Mobile Number' },
                    { prop: 'date_time_formatted', label: 'Date Time Sent/Send' },
                    { prop: 'credits_consumed', label: 'Credit Cost' },
                ],
                tableProps: {
                    border: true,
                    stripe: true,
                    defaultSort: {
                        prop: 'date_time_formatted',
                        order: 'descending'
                    }
                },
                errorMessage: '',
                pages: [
                    {
                        'current_page': '',
                        'first_page_url': '',
                        'from': '',
                        'last_page': '',
                        'last_page_url': '',
                        'next_page_url': '',
                        'path': '',
                        'per_page': '',
                        'prev_page_url': '',
                        'to': '',
                        'total': '',
                        'pageSize': 1,
                        'links' : [
                            {
                                'first': '',
                                'last': '',
                                'next': '',
                                'prev': '',
                            }
                        ],
                    }
                ],
                jobsData: [],
                extractedJobs: [],
                task_ids: '',
                jobsCount: '',
                howToUse: true,
                taskDetailsCard: true,
                smsReminder: true,
                jobList: true,
                total: 0,
                post:{
                    apiUrl: null,
                    subaccount_name: '',
                    subaccount_id: '',
                    send_immediate: true,
                    sms_notification: false,
                    sms_reminder: false,
                    status: true,
                    campaign: '',
                    message: '',
                    send_after: {
                        days: null,
                        hours: null,
                        mins: null,
                    },
                    toBeRemoved: [],
                    sms_reminder_holder: [],
                    sms_to_be_send: 0,
                    sent_sms: 0,
                    failed_sms: 0,
                    credits_consumed: 0

                },
            }
        },
        computed: {
            btnLabel: function() {
                return this.postAction == 'store' ? 'Submit Booking' : 'Update Booking';
            },
            accordionClasses: function() {
                return {
                    'is-closed': !this.isOpen,
                    'is-primary': this.isOpen,
                    'is-dark': !this.isOpen
                };
            },
            accountTypeFunction: function() {
                if( this.accountType == 'sub' ) {
                    return this.sub;
                } else {
                    return this.client;
                }
            }
        },
        methods: {
            toJson: function(key) {
                return JSON.parse(key);
            },
            http: function(res, time = 200) {
                return new Promise( async(resolve, reject) => {
                    let url = '';
                    let items = '';
                    if( res.type === 'page') {
                        url = `${this.accountTypeFunction.getJobPage}?subaccount_id=${this.subAccountID}&client_id=${this.clientID}&page=${res.page}&pageSize=${this.pages[0].per_page}&per_page=${this.pages[0].per_page}&task_ids=${this.task_ids}`;
                        items = await this.getData(url);
                        if( items.jobs ) {
                            const total = items ? items.jobs.total : '';
                            let data = Object.keys(items.jobs.data).map((key) => {
                                return items.jobs.data[key]
                            });
                            setTimeout(()=> {
                                resolve({data,total});
                            }, time);
                        }
                    }
                })
            },
            getData:function(url) {
                return axios.get(url)
                .then( resp => {
                    if( resp.status == 200 ) {
                        return resp.data.jobs;
                    }
                });
            },
            async loadData(queryInfo) {
                let { data, total } = await this.http(queryInfo);
                this.extractedJobs = data;
                this.pages[0].total = total;
            },
            formatTaskModels: function() {
                this.post = this.taskDetails;
                this.task_ids = this.taskIDs;
                // console.log(this.taskJobs);
                if(this.taskJobs != null) {
                    this.jobsCount = Object.keys(this.taskJobs).length;

                    this.pages[0].current_page = this.taskJobs.current_page;
                    this.pages[0].first_page_url = this.taskJobs.first_page_url;
                    this.pages[0].from = this.taskJobs.from;
                    this.pages[0].last_page = this.taskJobs.last_page;
                    this.pages[0].last_page_url = this.taskJobs.last_page_url;
                    this.pages[0].next_page_url = this.taskJobs.next_page_url;
                    this.pages[0].path = this.taskJobs.path;
                    this.pages[0].per_page = this.taskJobs.per_page;
                    this.pages[0].prev_page_url = this.taskJobs.prev_page_url;
                    this.pages[0].to = this.taskJobs.to;
                    this.pages[0].total = this.taskJobs.total;
                    this.pages[0].pageSize = this.taskJobs.per_page;
                    this.pages[0].links[0].first = this.taskJobs.first_page_url;
                    this.pages[0].links[0].last = this.taskJobs.last_page_url;
                    this.pages[0].links[0].next = this.taskJobs.next_page_url;
                    this.pages[0].links[0].prev = this.taskJobs.prev_page_url;

                    let data = Object.keys(this.taskJobs).map((key) => {
                        return this.taskJobs[key]
                    });

                    this.extractedJobs = data;
                    console.log(this.extractedJobs);
                }
            },
		    copyToClipboard: function(element) {
                var range;
                if (document.selection) {
                    range = document.body.createTextRange();
                    range.moveToElementText(document.getElementById(element));
                    range.select();
                } else if (window.getSelection) {
                    range = document.createRange();
                    range.selectNode(document.getElementById(element));
                    window.getSelection().removeAllRanges();
                    window.getSelection().addRange(range);
                }
                document.execCommand("copy");
		    },
            changesStatus: function(value) {
                if( value == 'si' ) {
                    if( this.post.send_immediate )  {
                        this.post.send_immediate = false;
                    } else {
                        this.post.send_immediate = true;
                    }
                } else if(value == 'active') {
                    if( this.post.status )  {
                        this.post.status = false;
                    } else {
                        this.post.status = true;
                    }
                } else if( value == 'sms_notification' ) {
                    if( this.post.sms_notification )  {
                        this.post.sms_notification = false;
                    } else {
                        this.post.sms_notification = true;
                    }
                } else {
                    if( this.post.sms_reminder )  {
                        this.post.sms_reminder = false;
                    } else {
                        this.post.sms_reminder = true;
                    }
                }
            },
            makeOptions: function() {
                const hoursSelect = [];
                const minutesSelect = [];
                for( let i = 0; i <= 23; i++ ) {
                    const string = i == 1 || i == 0 ?  ' hour' : ' hours';
                    hoursSelect[i] = `${i}${string}`;
                    this.hours_options.push(hoursSelect[i]);
                }
                for ( let i = 1; i <= 4; i++ ) {
                    minutesSelect[i * 15] = i * 15 + ' mins';
                    this.minutes_options.push(minutesSelect[i * 15]);
                }
                this.minutes_options.unshift('00 mins');
            },
            addRow:function() {
                let count = this.rowCount += 1;
                this.post.sms_reminder_holder.push({ message: this.reminderMessagePlaceholder, send_before : {days:'', hours:'', mins: ''} });
            },
            deleteRow:function(index, id) {
                this.post.toBeRemoved.push( id = id );
                this.post.sms_reminder_holder.splice( index, 1 );
                this.$forceUpdate();
            },
            saveCampaign:function() {
                let _self = this;
                $('body').on('click', '#vue_save_campaign', function() {
                    let val = $('input[name="campaign_name"]').val();
                    axios.post(_self.api.createCampaign, { params: { sub_account_id: _self.subAccountID, clientID: _self.clientID, name: val, type: 'vue' } })
                    .then( resp => {
                        if( resp.data.success ) {
                            _self.campaign_options = resp.data.campaign;
                            _self.campaign_options.forEach((item, index) => {
                                if( item.label == val ) {
                                    _self.post.campaign = item
                                }
                            });
                            $('#create-quick-campaign').modal('toggle');
                        }
                    });
                });
            },
            getCampaign: function() {
                axios.get(this.api.getCampaign, { params: { sub_account_id: this.subAccountID, clientID: this.clientID } })
                .then( resp => {
                    if( resp.data.success ) {
                        this.campaign_options     = resp.data.campaign;
                        this.post.subaccount_name = resp.data.subAccountName;
                        this.post.subaccount_id   = resp.data.subAccountId;
                    }
                });
            },
            customButtonsForRow(row) {
                if (row.table_name === 'jobs_completed') {
                    return [{
                        image:`${this.PublicImages}sms-sent@20.png`,
                        name: 'SMS Sent',
                        alt: 'sms-sent-icon',
                        view_url: row.view_url,
                    }]
                } else if(row.table_name === 'jobs_failed') {
                    return [{
                        image:`${this.PublicImages}sms-fail@20.png`,
                        name: 'SMS Failed',
                        alt: 'sms-fail-icon',
                        view_url: row.view_url,
                        number: row.customer_number,
                        resend: row.resend_url,
                        error_log: row.error_log,
                    }]
                } else {
                    return [{
                        image:`${this.PublicImages}sms-onqueue@20.png`,
                        name: 'On Queue',
                        alt: 'sms-onqueue-icon',
                        view_url: row.view_url,
                    }]
                }
            },
            submitTask: function () {
                if (!this.busy) {
                    this.busy = true;
                    this.processing = true;
                    this.post._token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                    let url = ( this.postAction == 'store' ) ? this.accountTypeFunction.submitBooking : this.accountTypeFunction.updateBooking;
                    axios.post(url, { data: this.post, params: { sub_account_id: this.subAccountID, clientID: this.clientID, taskID: this.post.id } } )
                    .then( resp => {
                        if( resp.data.success ) {
                            let message = ( this.postAction == 'store' ) ? 'Booking successfully added' : 'Booking successfully updated';
                            this.createNotif(message, 'success');
                            setTimeout(()=> {
                                window.location.replace(`${this.DomainUrl}${this.accountTypeFunction.index}`);
                            },1500);
                        } else {
                            this.errorMessage = resp.data.message.campaign;
                            this.createNotif(this.errorMessage, 'error');
                        }
                        this.busy = false;
                        this.processing = false;
                    });
                } else {
                    this.busy = false;
                    this.hasError = true;
                    this.errorMessage = 'Please try again.';
                }
            },
            collapseCard: function() {
                this.isOpen = !this.isOpen;
            },
        },
        watch: {
        }
    }
</script>
